<?xml version="1.0" encoding="utf-8"?>
<unattend xmlns="urn:schemas-microsoft-com:unattend"
          xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- ============================================================ -->
  <!-- 1. WINDOWS PE (IDIOMA + PARTICIONES + IMAGEN)               -->
  <!-- ============================================================ -->
  <settings pass="windowsPE">

    <!-- Idioma WinPE: todo es-ES para que coincida con tu ISO -->
    <component name="Microsoft-Windows-International-Core-WinPE"
               processorArchitecture="amd64"
               publicKeyToken="31bf3856ad364e35"
               language="neutral"
               versionScope="nonSxS">

      <SetupUILanguage>
        <UILanguage>es-ES</UILanguage>
      </SetupUILanguage>

      <InputLocale>es-ES</InputLocale>
      <SystemLocale>es-ES</SystemLocale>
      <UILanguage>es-ES</UILanguage>
      <UserLocale>es-ES</UserLocale>
    </component>

    <!-- Particionado UEFI + instalación -->
    <component name="Microsoft-Windows-Setup"
               processorArchitecture="amd64"
               publicKeyToken="31bf3856ad364e35"
               language="neutral"
               versionScope="nonSxS">

      <DiskConfiguration>
        <Disk wcm:action="add">
          <DiskID>0</DiskID>
          <WillWipeDisk>true</WillWipeDisk>

          <CreatePartitions>
            <CreatePartition wcm:action="add">
              <Order>1</Order>
              <Type>EFI</Type>
              <Size>100</Size>
            </CreatePartition>

            <CreatePartition wcm:action="add">
              <Order>2</Order>
              <Type>MSR</Type>
              <Size>16</Size>
            </CreatePartition>

            <CreatePartition wcm:action="add">
              <Order>3</Order>
              <Type>Primary</Type>
              <Extend>true</Extend>
            </CreatePartition>
          </CreatePartitions>

          <ModifyPartitions>
            <ModifyPartition wcm:action="add">
              <Order>1</Order>
              <PartitionID>1</PartitionID>
              <Label>System</Label>
              <Format>FAT32</Format>
            </ModifyPartition>

            <ModifyPartition wcm:action="add">
              <Order>3</Order>
              <PartitionID>3</PartitionID>
              <Label>Windows</Label>
              <Format>NTFS</Format>
              <Letter>C</Letter>
            </ModifyPartition>
          </ModifyPartitions>

        </Disk>
      </DiskConfiguration>

      <ImageInstall>
        <OSImage>
          <InstallFrom>
            <MetaData wcm:action="add">
              <Key>/IMAGE/INDEX</Key>
              <Value>{{ vm_image_index }}</Value>
            </MetaData>
          </InstallFrom>

          <InstallTo>
            <DiskID>0</DiskID>
            <PartitionID>3</PartitionID>
          </InstallTo>

          <WillShowUI>OnError</WillShowUI>
        </OSImage>
      </ImageInstall>

      <UserData>
        <AcceptEula>true</AcceptEula>
        <FullName>Administrador</FullName>
        <Organization>Empresa</Organization>
      </UserData>

    </component>
  </settings>

  <!-- ============================================================ -->
  <!-- 2. SPECIALIZE (HOSTNAME + RED ESTÁTICA SIMPLE)              -->
  <!-- ============================================================ -->
  <settings pass="specialize">

    <!-- Solo hostname, sin tocar idiomas aquí -->
    <component name="Microsoft-Windows-Shell-Setup"
               processorArchitecture="amd64"
               publicKeyToken="31bf3856ad364e35"
               language="neutral"
               versionScope="nonSxS">
      <ComputerName>{{ vm_name }}</ComputerName>
    </component>

    <!-- Red estática -->
    <component name="Microsoft-Windows-TCPIP"
               processorArchitecture="amd64"
               publicKeyToken="31bf3856ad364e35"
               language="neutral"
               versionScope="nonSxS">

      <Interfaces>
        <Interface wcm:action="add">
          <!-- Nombre lógico, suele ser "Ethernet" en Windows Server -->
          <Identifier>Ethernet</Identifier>

          <IPv4Settings>
            <DHCPEnabled>false</DHCPEnabled>
          </IPv4Settings>

          <UnicastAddresses>
            <UnicastAddress wcm:action="add">
              <!-- vm_ip y vm_prefix los calculas en el playbook -->
              <Address>{{ vm_ip }}/{{ vm_prefix }}</Address>
            </UnicastAddress>
          </UnicastAddresses>

          <Routes>
            <Route wcm:action="add">
              <Identifier>0</Identifier>
              <Prefix>0.0.0.0/0</Prefix>
              <NextHop>{{ vm_gateway }}</NextHop>
            </Route>
          </Routes>

          <DnsServers>
            <DnsServer wcm:action="add">{{ vm_dns1 }}</DnsServer>
            <DnsServer wcm:action="add">{{ vm_dns2 }}</DnsServer>
          </DnsServers>

        </Interface>
      </Interfaces>
    </component>

  </settings>

  <!-- ============================================================ -->
  <!-- 3. OOBE SYSTEM (SOLO CONTRASEÑA DE ADMIN)                   -->
  <!-- ============================================================ -->
  <settings pass="oobeSystem">
    <component name="Microsoft-Windows-Shell-Setup"
               processorArchitecture="amd64"
               publicKeyToken="31bf3856ad364e35"
               language="neutral"
               versionScope="nonSxS">

      <UserAccounts>
        <AdministratorPassword>
          <Value>{{ admin_password }}</Value>
          <PlainText>true</PlainText>
        </AdministratorPassword>
      </UserAccounts>

    </component>
  </settings>

</unattend>
