#version=RHEL9
# Kickstart para Rocky Linux 9.6 (Server + GPT + LVM manual)

cdrom

# Idioma: English
lang en_US.UTF-8

# Teclado Español
keyboard es

# ---------------------------------------------------------------
# Red estática
# ---------------------------------------------------------------
network --bootproto=static --ip={{ vm_ip }} --netmask={{ vm_mask }} \
        --gateway={{ vm_gateway }} --nameserver={{ vm_dns1 }} \
        --device=link --activate

# Zona horaria
timezone America/Mexico_City --utc

rootpw --plaintext {{ root_password }}

# Seguridad
selinux --permissive
firewall --enabled --service=ssh
services --enabled="sshd"

# ---------------------------------------------------------------
# Particionado GPT + LVM
# ---------------------------------------------------------------
clearpart --all --initlabel --disklabel=gpt

# EFI 512 MiB
part /boot/efi --fstype=efi --size=512 --ondisk=sda

# /boot 1 GiB
part /boot --fstype=xfs --size=1024 --ondisk=sda

# PV para LVM (resto del disco)
part pv.01 --grow --size=1 --ondisk=sda

volgroup vg_system pv.01

# /
logvol / --vgname=vg_system --size=20480 --name=lv_root --fstype=xfs

# /home
logvol /home --vgname=vg_system --size=51200 --name=lv_home --fstype=xfs

# swap recomendado
logvol swap --vgname=vg_system --recommended --name=lv_swap

reboot

# ---------------------------------------------------------------
# Usuario adicional
# ---------------------------------------------------------------
user --name={{ linux_user }} --password={{ linux_password }} --plaintext --groups=wheel

# ---------------------------------------------------------------
# Paquetes mínimos (sin GUI)
# ---------------------------------------------------------------
%packages
@core
vim
curl
wget
net-tools
bash-completion
%end

# ---------------------------------------------------------------
# Post-install
# ---------------------------------------------------------------
%post
echo "Instalación automática Rocky 9.6 OK" > /root/post.log
%end
